datasets/** filter=lfs diff=lfs merge=lfs -text lockable
datasets2/** filter=lfs diff=lfs merge=lfs -text lockable
\# filter=lfs diff=lfs merge=lfs -text
关键！递归跟踪文件夹内所有文件 filter=lfs diff=lfs merge=lfs -text
"datasets/** filter=lfs diff=lfs merge=lfs -text" 
"datasets2/** filter=lfs diff=lfs merge=lfs -text" 
